
Back/pablo/pablo.API/WeatherForecast.cs
Back/pablo/pablo.API/Properties/launchSettings.json
Back/pablo/pablo.API/obj/*
Back/pablo/pablo.API/pablo.API.csproj.user
Back/pablo/pablo.API/pablo.API.csproj
Back/pablo/pablo.API/Migrations/PabloDbContextModelSnapshot.cs
Back/pablo/pablo.API/bin/*
Back/pablo/.vs/ProjectEvaluation/pablo.projects.v5.1
Back/pablo/.vs/ProjectEvaluation/pablo.metadata.v5.1
Back/pablo/.vs/pablo/v17/.suo
Back/pablo/.vs/pablo/v17/.futdcache.v2
Back/pablo/.vs/pablo/FileContentIndex/read.lock
Back/pablo/.vs/pablo/FileContentIndex/deb18af7-58db-421e-9b2f-4f5a23ca0d3c.vsidx
Back/pablo/.vs/pablo/FileContentIndex/aec686ab-0a81-4d0d-b056-af972e9a53b9.vsidx
Back/pablo/.vs/pablo/FileContentIndex/409c4f72-b3bc-4433-8fba-178e0c28b513.vsidx
Back/pablo/.vs/pablo/FileContentIndex/290d42d5-76aa-4cc5-b7e8-44d8a6ca5e09.vsidx
Back/pablo/.vs/pablo/DesignTimeBuild/.dtbcache.v2
Back/pablo/.vs/pablo/config/applicationhost.config
Front/Pablo/.angular/cache/*
Front/Pablo/.angular/cache/16.0.4/angular-webpack/298ad00feaebaaab5f6ac8e1854edc02afd335a9/0.pack
Front/Pablo/node_modules/*
Front/Pablo/.vscode/*
Back/pablo/pablo.API/*
